[SCM] Bug closed by changeset {{changeset.id}} of repository {{repository.name}}

Message: {{changeset.description}}

{{#diffUrl}}
Changes: {{diffUrl}}
{{/diffUrl}}
{{#diffRestUrl}}
Patch: {{diffRestUrl}}
{{/diffRestUrl}}